.container-buy{
    width: 50%;
    margin: 50px auto;
    box-shadow: 0px 0px 10px #fff;
}
.container-buy table{
    margin: 0px auto;
    color: white;
    text-align: center;
}
table tr  td{
    padding: 20px;
}