.content {
    margin-top: 100px;
 }
 .card{
    position: relative;
    margin: 10px auto;
    width: 70%;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #888 ;
}

.img-content img{
    padding: 10px;
    width: 18rem;  
    object-fit: cover;  
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 99% 69%, 68% 100%, 20% 100%, 0 100%, 0 0);
}
span{
    color:#73b7fa;
}
.bottom-details{
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
}

.updated{
    display: flex;
    margin-right: 400px;
    align-items: center;
}

.btn {
    display: flex;
    margin: 10px auto;
    background-color: red;
    border: none;
    border-radius: 5px;
}
.load{
    padding: 5px 10px;
    color: white;
}

.downArrow{
    padding: 5px 10px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    background-color: rgba(220, 14, 14, 0.936);
}